{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'assets/style/styleSwiper.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/style/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/style/miniSwiper.css' %}" />
  
  <title>Document</title>
</head>

<body>
    {%block content%}   
    
    {%endblock%}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/language_switch.js' %}"></script>
  </body>
  
  </html>